scratch
.DS_Store
Old/
Archive/
*~
/node_modules
.htaccess
examples/touchevents.html
bevy.json
.idea
js/deps/builds
!js/profile-w3c-common.js
!js/profile-geonovum.js
!js/profile-w3c.js
!js/profile-pcisig.js
!js/shortcut.js
.vscode/
